@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Nunito+Sans:wght@900&display=swap');
@import url('reset.css');
@import url('variables.css');
@import url('header.css');
@import url('sidebar.css');

main {
    position: relative;
    left: 320px;
    width: calc(100% - 320px);
    height: 100%;
    top:50px;

    @media screen and (max-width: 768px) {
        left: 68px;
        width: calc(100% - 68px);
        filter: blur(4px);
    }

    &.exp {
        left: 68px;
        width: calc(100% - 68px);

        @media screen and (max-width: 768px) {
            filter: blur(0);
        }
    
    }

    &.ng-enter {
        transition: 0.5s linear all;
        opacity: 0;

        &.ng-enter-active {
            opacity: 1;
        }
    }

    .home,
    .profit,
    .customer,
    .transaction {
        width: 100%;
        height: 100%;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @media screen and (max-width: 991px) {
            flex-wrap: nowrap;
            justify-content: start;
        }
    }

    .tabs {
        padding-top: 25px;

        ul {
            display: flex;
            justify-content: center;

            @media screen and (max-width: 540px) {
                flex-direction: column;
                align-items: center;
            }

            li {
                a {
                    color: var(--text);
                    font-weight: 600;
                    font-size: var(--font);
                }

                &:not(:last-child) {
                    margin-right: 44px;
                }

                @media screen and (max-width: 540px) {
                    margin-top:1rem;
                    &:not(:last-child) {
                        margin-right: 0;
                    }
                }

                &.active {

                    a {
                        color: #F86B00;
                        position: relative;

                        &::after {
                            content: "";
                            height: 3px;
                            width: 100%;
                            top: 27px;
                            position: absolute;
                            background-color: #F86B00;
                            left: 0;
                        }

                        @media screen and (max-width: 540px) {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .container {
        margin: 40px;

        &.selection {
            margin:30px 0 0 40px;

            @media screen and (max-width: 480px) {
                flex-direction: column;
            } 
        }

        .box {
            display: flex;
            justify-content: space-evenly;

            li {
                height: 190px;
                flex:1;
                border: 1px solid;
                box-shadow: 0px 0px 20px #E2E3EA;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                padding: 20px;
                justify-content: space-between;

                &:not(:last-child) {
                    margin-right: 30px;
                }

                &:nth-child(1) {
                    border-color: var(--secondary);

                    .head {
                        .icon {
                            svg {
                                fill:var(--secondary);
                            }
                        }
                    }
                }

                &:nth-child(2) {
                    border-color: var(--third);

                    .head {
                        .icon {
                            svg {
                                fill:var(--third);
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    border-color: var(--primary);

                    .head {
                        .icon {
                            svg {
                                fill:var(--primary);
                            }
                        }
                    }
                }

                &:nth-child(4) {
                    border-color: var(--four);

                    .head {
                        .icon {
                            svg {
                                fill:var(--four);
                            }
                        }
                    }
                }

                .head {
                    display: flex;
                    justify-content: space-between;
                    color: var(--black);
                    font-weight: 600;
                    font-size: var(--font);

                    .left {
                        display: flex;

                        .title {
                            margin-left:1rem;
                            display: flex;
                            flex-direction: column;

                            span.date {
                                font-weight: 500;
                                color:#606989;
                            }
                        }
                    }

                    .rase {
                        display: flex;
                        align-items: center;
                        font-size: var(--font);

                        svg {
                            color:var(--four);
                        }
                    }
                }

                .content {
                    text-align: end;
                    color: var(--black);

                    .score {
                        font-weight: 600;
                        font-size: var(--fontxl);

                        small {
                            font-size: var(--fontl);
                            margin-right: .2rem;
                        }
                    }
                    .detail {
                        font-size: var(--fonts);
                        font-weight: 500;
                    }
                }
            }

            @media screen and (max-width: 991px) {
                flex-direction: column;

                li {
                    margin: 30px 0 0 0;

                    &:not(:last-child) {
                        margin-right: 0px;
                    }
                }
            }
        }

        .box-lg {
            display: flex;

            li {
                flex-grow: 1;
                box-shadow: 0px 0px 20px #E2E3EA;
                border: 1px solid #D8D8D8;
                border-radius: 8px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-content: space-between;

                &:not(:last-child) {
                    margin-right: 30px;
                }

                .title {
                    display: flex;
                    justify-content: start;
                    color:var(--black);
                    font-weight: 600;
                    font-size: var(--font);
                    margin-bottom: 2rem;
                }

                .img {
                    display: flex;
                    align-items: center;

                    span {
                        margin-right: 20px;
                        text-orientation: upright;
                        writing-mode: vertical-rl;
                        letter-spacing: -5px;
                        color:var(--black);
                        font-size: var(--fonts);
                        font-weight: 700;
                    }
                }
            }

            @media screen and (max-width: 991px) {
                flex-direction: column;

                li {
                    margin: 30px 0 0 0;
                    
                    &:not(:last-child) {
                        margin-right: 0px;
                    }
                }
            }
        }

        .form-group {
            margin-right: 2rem;
            position: relative;

            @media screen and (max-width: 480px) {
                margin-top:2rem;
                margin-right: 4rem;
            } 

            select {
                border: 1px solid var(--border);
                border-radius: 4px;
                height: 42px;
                padding:0 10rem 0 1rem;
                color:var(--text);
                font-size: var(--fonts);
                font-weight: 400;
                -webkit-appearance: none;
                width: 100%;
                
                &:focus-visible {
                    outline: none;
                }
            }

            label {
                position: absolute;
                right:10px;
                top:25%;

                svg {
                    color:var(--border);
                }
            }
        }
    }
}