@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Nunito+Sans:wght@900&display=swap");
@import url("reset.css");
@import url("variables.css");
@import url("header.css");
@import url("sidebar.css");
main {
  position: relative;
  left: 320px;
  width: calc(100% - 320px);
  height: 100%;
  top: 50px;
}

@media screen and (max-width: 768px) {
  main {
    left: 68px;
    width: calc(100% - 68px);
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

main.exp {
  left: 68px;
  width: calc(100% - 68px);
}

@media screen and (max-width: 768px) {
  main.exp {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

main.ng-enter {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0;
}

main.ng-enter.ng-enter-active {
  opacity: 1;
}

main .home,
main .profit,
main .customer,
main .transaction {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 991px) {
  main .home,
  main .profit,
  main .customer,
  main .transaction {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

main .tabs {
  padding-top: 25px;
}

main .tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 540px) {
  main .tabs ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .tabs ul li a {
  color: var(--text);
  font-weight: 600;
  font-size: var(--font);
}

main .tabs ul li:not(:last-child) {
  margin-right: 44px;
}

@media screen and (max-width: 540px) {
  main .tabs ul li {
    margin-top: 1rem;
  }
  main .tabs ul li:not(:last-child) {
    margin-right: 0;
  }
}

main .tabs ul li.active a {
  color: #F86B00;
  position: relative;
}

main .tabs ul li.active a::after {
  content: "";
  height: 3px;
  width: 100%;
  top: 27px;
  position: absolute;
  background-color: #F86B00;
  left: 0;
}

@media screen and (max-width: 540px) {
  main .tabs ul li.active a::after {
    display: none;
  }
}

main .container {
  margin: 40px;
}

main .container.selection {
  margin: 30px 0 0 40px;
}

@media screen and (max-width: 480px) {
  main .container.selection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .container .box li {
  height: 190px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid;
  -webkit-box-shadow: 0px 0px 20px #E2E3EA;
          box-shadow: 0px 0px 20px #E2E3EA;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .box li:not(:last-child) {
  margin-right: 30px;
}

main .container .box li:nth-child(1) {
  border-color: var(--secondary);
}

main .container .box li:nth-child(1) .head .icon svg {
  fill: var(--secondary);
}

main .container .box li:nth-child(2) {
  border-color: var(--third);
}

main .container .box li:nth-child(2) .head .icon svg {
  fill: var(--third);
}

main .container .box li:nth-child(3) {
  border-color: var(--primary);
}

main .container .box li:nth-child(3) .head .icon svg {
  fill: var(--primary);
}

main .container .box li:nth-child(4) {
  border-color: var(--four);
}

main .container .box li:nth-child(4) .head .icon svg {
  fill: var(--four);
}

main .container .box li .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--black);
  font-weight: 600;
  font-size: var(--font);
}

main .container .box li .head .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .box li .head .left .title {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container .box li .head .left .title span.date {
  font-weight: 500;
  color: #606989;
}

main .container .box li .head .rase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--font);
}

main .container .box li .head .rase svg {
  color: var(--four);
}

main .container .box li .content {
  text-align: end;
  color: var(--black);
}

main .container .box li .content .score {
  font-weight: 600;
  font-size: var(--fontxl);
}

main .container .box li .content .score small {
  font-size: var(--fontl);
  margin-right: .2rem;
}

main .container .box li .content .detail {
  font-size: var(--fonts);
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  main .container .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .container .box li {
    margin: 30px 0 0 0;
  }
  main .container .box li:not(:last-child) {
    margin-right: 0px;
  }
}

main .container .box-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .box-lg li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-shadow: 0px 0px 20px #E2E3EA;
          box-shadow: 0px 0px 20px #E2E3EA;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

main .container .box-lg li:not(:last-child) {
  margin-right: 30px;
}

main .container .box-lg li .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: var(--black);
  font-weight: 600;
  font-size: var(--font);
  margin-bottom: 2rem;
}

main .container .box-lg li .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .box-lg li .img span {
  margin-right: 20px;
  text-orientation: upright;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: -5px;
  color: var(--black);
  font-size: var(--fonts);
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  main .container .box-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .container .box-lg li {
    margin: 30px 0 0 0;
  }
  main .container .box-lg li:not(:last-child) {
    margin-right: 0px;
  }
}

main .container .form-group {
  margin-right: 2rem;
  position: relative;
}

@media screen and (max-width: 480px) {
  main .container .form-group {
    margin-top: 2rem;
    margin-right: 4rem;
  }
}

main .container .form-group select {
  border: 1px solid var(--border);
  border-radius: 4px;
  height: 42px;
  padding: 0 10rem 0 1rem;
  color: var(--text);
  font-size: var(--fonts);
  font-weight: 400;
  -webkit-appearance: none;
  width: 100%;
}

main .container .form-group select:focus-visible {
  outline: none;
}

main .container .form-group label {
  position: absolute;
  right: 10px;
  top: 25%;
}

main .container .form-group label svg {
  color: var(--border);
}
/*# sourceMappingURL=main.css.map */