.sidebar {
  position: fixed;
  top: 49px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  width: 320px;
  -webkit-box-shadow: 0px 3px 17px var(--sidebar-shadow);
          box-shadow: 0px 3px 17px var(--sidebar-shadow);
  padding: 25px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: 9;
  border: 1px solid var(--border);
}

.sidebar.open {
  width: 68px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.sidebar.open .search input[type='text'] {
  border: none;
  border-bottom: 1px solid var(--border);
  border-radius: 0;
}

.sidebar.open .search input[type='text']::-webkit-input-placeholder {
  display: none;
}

.sidebar.open .search input[type='text']:-ms-input-placeholder {
  display: none;
}

.sidebar.open .search input[type='text']::-ms-input-placeholder {
  display: none;
}

.sidebar.open .search input[type='text']::placeholder {
  display: none;
}

.sidebar.open .search label {
  left: 0;
}

.sidebar.open nav ul li {
  position: relative;
}

.sidebar.open nav ul li a::after {
  display: none;
}

.sidebar.open nav ul li a span {
  display: none;
}

.sidebar.open nav ul li a span.icon {
  display: block;
}

.sidebar.open nav ul li:hover .submenu {
  opacity: 1;
  width: 240px;
  -webkit-box-shadow: 0px 3px 17px var(--sidebar-shadow);
          box-shadow: 0px 3px 17px var(--sidebar-shadow);
  border-left: 2px solid var(--sidebar-shadow);
  height: auto;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar.open nav ul li .submenu {
  opacity: 0;
  border-left: 2px solid var(--sidebar-shadow);
  position: absolute;
  width: 240px;
  left: 50px;
  top: 0;
  background-color: var(--white);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.sidebar.open nav ul li .submenu::before {
  content: "";
  display: block;
  width: 0px;
  z-index: 10;
  height: 0px;
  border-width: 10px;
  border-style: solid;
  -o-border-image: initial;
     border-image: initial;
  border-top-color: transparent;
  border-right-color: var(--white);
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  top: 20px;
  left: 0;
  margin-left: -2rem;
}

.sidebar .search {
  position: relative;
}

.sidebar .search input[type="text"] {
  padding: 15px 0 15px 40px;
  outline: none;
  width: 100%;
  height: 42px;
  border: 1px solid var(--border);
  border-radius: 4px;
  font-weight: 500;
}

.sidebar .search input[type="text"]::-webkit-input-placeholder {
  color: var(--placeholder);
  font-size: var(--fonts);
  font-weight: 400;
}

.sidebar .search input[type="text"]:-ms-input-placeholder {
  color: var(--placeholder);
  font-size: var(--fonts);
  font-weight: 400;
}

.sidebar .search input[type="text"]::-ms-input-placeholder {
  color: var(--placeholder);
  font-size: var(--fonts);
  font-weight: 400;
}

.sidebar .search input[type="text"]::placeholder {
  color: var(--placeholder);
  font-size: var(--fonts);
  font-weight: 400;
}

.sidebar .search label {
  position: absolute;
  top: 13px;
  left: 14px;
}

.sidebar .search label svg {
  fill: var(--border);
}

.sidebar nav {
  margin-top: 30px;
}

.sidebar nav ul li {
  margin-top: 20px;
  position: relative;
  cursor: pointer;
}

.sidebar nav ul li:last-child {
  margin-bottom: 20px;
}

.sidebar nav ul li.active a {
  color: var(--secondary);
}

.sidebar nav ul li.active a span.icon {
  fill: var(--secondary);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.sidebar nav ul li:first-child a::after {
  display: none;
}

.sidebar nav ul li a {
  color: var(--text);
  font-size: var(--fontm);
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar nav ul li a::after {
  border-style: solid;
  border-width: 2.5px 2.5px 0 0;
  border-color: var(--chevron);
  content: '';
  display: inline-block;
  height: 0.45em;
  right: 0;
  position: absolute;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 0.45em;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.sidebar nav ul li a span.icon {
  fill: var(--primary);
  margin-right: 12px;
}

.sidebar nav ul li a span.icon svg {
  width: 20px;
}

.sidebar nav ul li.open {
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.sidebar nav ul li.open a::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.sidebar nav ul li .submenu {
  display: none;
}

.sidebar nav ul li .submenu li {
  margin-left: 20px;
}

.sidebar nav ul li .submenu li a {
  color: var(--text);
  font-size: var(--fonts);
}

.sidebar nav ul li .submenu li a::after {
  display: none;
}

.sidebar nav ul li .submenu li.active a {
  color: var(--secondary);
}
/*# sourceMappingURL=sidebar.css.map */